body {
    background-color: #131313;
    margin: 0;
    padding: 0;
}

img {
    max-width: calc(100% - 15px);
}

a {
    text-decoration: none;
}

}

.center {
    text-align: center;
}

.order {
    background-color: red;
    color: white;
    border: 2px dashed black;
    border-radius: 5px;
    height: 40px;
    width: 190px;
}


header {
    margin: 0;
    padding: 0;
}

#header-name-company {
    font-size: 27px;
    font-weight: bold;
    margin:5px;
}

#header-text {
    float: left;
    padding: 15px 10px 15px 8px;
}

header a {
    color: white;
}

header nav {
    background-color: #2e2e2e;
    float: right;
    font-size: 20px;
}

header nav a {
    padding: 0 40px;
    margin-left: -5px;
    border-left: 1px solid black;
    border-bottom-left-radius: 3px 10px;
    border-top-left-radius: 2px 10px;
}

header nav a:hover {
	background-color: #a1a1a1;
}

main {
    background-color: #EAECF0;
    clear: both;
}

section{
    clear: both;
    padding: 30px 4px 10px 4px;
}

#specilly-photo {
    float: left;
    width: 542px;
    padding: 0 15px 10px 0;
}

#specilly-text {
    font-size:17px;
    padding: 0 5px 0 5px;
}

#img-constructor {
    padding: 0 15px 10px 0;
}

#form-constructor {
    padding: 0 5px 0 5px;
}

.product {
    width: 414px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 15px;
    margin: 15px 0 15px 36px;
    background-color: #e0e0e0;
    text-align: center;
    max-width: calc(100% - 84px);
	position: relative;
}

.product-see-more {
	line-height: 40px;
	color: black;
	position: absolute;
	bottom: 10px;
	right: 10px;
}

.product-bookmark {
    height:40px;
	position: absolute;
	bottom: 10px;
	left: 10px;
}

#question-section {
	padding: 30px 6px 40px 6px;
}

footer {
    background-color: #131313;
    color: #fff;
    padding: 28px 14px 14px 14px;
}

footer img {
    height: 20px;
    vertical-align: middle;
    background-color: #fff;
}

footer a  {
    color:#fff;
    font-weight: 500;
}

.footer-column {
    width: 300px;
}

#copyright {
    clear: both;
    font-size: small;
    margin: 0;
}


.center {
    text-align: center;
}
