#admin-panel {
  margin-top: 20px; }
  #admin-panel input, #admin-panel button {
    display: block; }
  #admin-panel .column {
    width: 280px;
    display: inline-block;
    vertical-align: top; }

#copyright {
  font-size: small;
  display: block; }
