@charset "UTF-8";
:root {
  scroll-behavior: smooth; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', 'sans-serif'; }

img {
  display: block; }

.container {
  max-width: 1240px;
  margin: auto; }

.d-none {
  display: none; }

.d-block {
  display: block; }

.bg-black {
  background-color: black; }

.c-white {
  color: white; }

.text-center {
  text-align: center; }

input[type="text"], input[type="password"] {
  min-width: 160px;
  line-height: 21px;
  padding: 4px;
  border: 1px solid black;
  display: inline-block;
  margin: 8px; }

input[type="submit"], button {
  line-height: 30px;
  border: none;
  border-radius: 4px;
  display: inline-block;
  margin: 8px;
  background: #3399f8; }

a {
  text-decoration: none; }

/* ______________________________________________________________________________ лінія */
header button {
  min-width: 60px; }

header {
  color: white;
  background-color: black;
  position: sticky;
  top: 0;
  z-index: 1;
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  align-items: center; }
  header img.menu {
    height: 32px;
    padding: 10px; }
  header i.switch-theme {
    display: none; }
  header a {
    display: none; }
  header input {
    font-weight: 600;
    padding: 8px 15px;
    margin: 0;
    height: 26px;
    border: none;
    border-radius: 5px; }
  header a.login {
    display: none; }
  header i.open-cart {
    padding: 8px 18px 8px 4px;
    display: flex;
    align-items: center;
    color: white;
    position: relative; }
  header .cart-counter {
    font-size: 15px;
    font-weight: 900;
    color: black;
    background: yellow;
    border: 1px solid black;
    padding: 1px 5px;
    border-radius: 50px;
    position: absolute;
    margin: 0;
    top: 0;
    right: 2px; }

aside {
  display: none; }
  aside nav a {
    color: #3B6D9A; }

main {
  margin: 0 5px; }
  main > section {
    margin-bottom: 20px; }
  main #product-list .product {
    border-bottom: 1px solid #d6d6d6;
    padding: 9px;
    line-height: 40px; }
    main #product-list .product a.image-link {
      margin: 14px auto;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 170px;
      overflow: hidden; }
    main #product-list .product img {
      display: inline-block;
      max-height: 100%;
      max-width: 100%; }
    main #product-list .product a {
      color: #3B6D9A;
      font-size: 20px;
      text-decoration: none; }
    main #product-list .product b {
      font-size: 22px;
      display: block; }
    main #product-list .product section {
      width: 84%;
      margin: 5px auto auto auto;
      border-top: 1px solid #d6d6d6;
      display: flex;
      justify-content: space-around;
      align-items: center; }
      main #product-list .product section i {
        display: block;
        padding-top: 15px;
        padding-bottom: 5px; }

footer {
  background-color: #131313;
  color: #fff;
  padding: 14px 10px; }
  footer .column {
    margin-top: 20px;
    width: 280px;
    display: inline-block;
    vertical-align: top; }
    footer .column a {
      color: #fff;
      font-weight: 500; }
    footer .column img {
      display: inline-block;
      height: 20px;
      vertical-align: middle;
      background-color: #fff; }
  footer #owner-panel {
    margin-top: 20px; }
    footer #owner-panel input, footer #owner-panel button {
      display: block; }
  footer #copyright {
    font-size: small;
    display: block; }

i.switch-theme {
  display: none; }

#cart-container {
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6); }
  #cart-container .cart {
    background: red;
    border-radius: 6px;
    padding: 10px;
    width: 80%;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%); }
    #cart-container .cart .cart-body table {
      min-height: 10px;
      border-collapse: collapse; }
    #cart-container .cart .cart-body td {
      padding: 4px;
      font-size: 18px;
      border: 1px solid black; }
    #cart-container .cart .cart-footer {
      display: flex;
      justify-content: space-between; }
    #cart-container .cart i {
      position: absolute;
      top: 10px;
      right: 10px; }

/* Стилі для "Наш офіс" */
#section-our-office p {
  font-size: 17px; }

/* Стилі для "Вакансії" */
#section-vacancies p {
  font-size: 17px; }

/* Стилі для "Клієнти" */
#section-clients {
  display: grid; }

@media (min-width: 390px) {
  main #product-list {
    display: grid;
    grid-template-columns: repeat(2, 50%); }
    main #product-list .product {
      border-right: 1px solid #d6d6d6; } }

@media (min-width: 700px) {
  main #product-list {
    grid-template-columns: repeat(3, 33.33%); } }

@media (min-width: 720px) {
  header {
    width: 100%;
    background-color: black;
    position: sticky;
    top: 0;
    z-index: 1;
    grid-template-columns: auto auto 1fr auto auto auto auto; }
    header > a {
      color: white;
      display: block; }
    header a.name {
      margin-right: 12px;
      font-size: 17px; }
    header input {
      font-weight: 600;
      padding: 8px 3%;
      margin: 0;
      border: none;
      border-radius: 5px; }
    header a.login {
      display: flex;
      align-items: center;
      padding: 0 7px;
      color: skyblue; }
      header a.login i {
        padding-right: 4px; }
  body > section {
    display: grid;
    grid-template-columns: minmax(200px, 20%) auto; }
  aside {
    display: block; }
    aside a {
      color: black; } }

@media (min-width: 1030px) {
  header {
    grid-template-columns: auto auto 1fr auto auto auto auto; }
    header img.menu {
      display: none; }
    header i.switch-theme {
      color: yellow;
      padding: 10px;
      float: left;
      display: block; }
    header nav {
      margin: 0 5px;
      display: grid;
      grid-auto-flow: column;
      grid-gap: 14px; }
      header nav a {
        display: block;
        color: white; }
  main #product-list {
    grid-template-columns: repeat(4, 25%); } }

/* Стилі для "Наш офіс" */
/* Стилі для "Вакансії" */
/* Стилі для "Клієнти" */
@media (min-width: 500px) {
  #section-clients {
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-gap: 13px; }
  #section-clients h2 {
    grid-column: 1/3; } }
