#admin-panel {
  margin-top: 20px;
  input, button {
    display: block;
  }
  .column {
    width: 280px;
    display: inline-block;
    vertical-align: top;
  }
}

#copyright {
  font-size: small;
  display: block;
}