$product-border: 1px solid #d6d6d6;

:root {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', 'sans-serif';
}

img { 
  display: block
}

.container {
  max-width: 1240px;
  margin: auto;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.bg-black {
  background-color: black;
}

.c-white {
  color: white;
}

.text-center {
  text-align: center;
}

input[type="text"], input[type="password"] {
  min-width: 160px;
  line-height: 21px;
  padding: 4px;
  border: 1px solid black;
  display: inline-block;
  margin: 8px;
}

input[type="submit"], button {
  line-height: 30px;
  border: none;
  border-radius: 4px;
  display: inline-block;
  margin: 8px;
  background: rgb(51, 153, 248);
}

a {
  text-decoration: none;
}

/* ______________________________________________________________________________ лінія */

header {
  button {
    min-width: 60px;
  }
}

header {
  color: white;
  background-color: black;
  position: sticky;
  top: 0;
  z-index: 1;
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  align-items: center;
  img.menu {
    height: 32px;
    padding: 10px;
  }
  i.switch-theme {
    display: none;
  }
  a {
    display: none;
  } 
  input {
    font-weight: 600;
    padding: 8px 15px;
    margin: 0;
    height: 26px;
    border: none;
    border-radius: 5px;
  }
  a.login {
    display: none;
  }
  i.open-cart {
    padding: 8px 18px 8px 4px;
    display: flex;
    align-items: center;
    color: white;
    position: relative;
  }
  .cart-counter {
    font-size: 15px;
    font-weight: 900;
    color: black;
    background: yellow;
    border: 1px solid black;
    padding: 1px 5px;
    border-radius: 50px;
    position: absolute;
    margin: 0;
    top: 0;
    right: 2px;
  }
}

aside {
  display: none;
  nav {
    a {
      color:#3B6D9A;
    }
  }
}

main {
  margin: 0 5px;
  >section {
    margin-bottom: 20px;
  }
  #product-list {
    .product {
      border-bottom: $product-border;
      padding: 9px;
      line-height: 40px;
      a.image-link {
        margin: 14px auto;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 170px;
        overflow: hidden;
      }
      img {
        display: inline-block;
        max-height: 100%;
        max-width: 100%
      }
      a {
        color:#3B6D9A;
        font-size: 20px;
        text-decoration: none;
      }
      b {
        font-size: 22px;
        display: block;
      }
      section {
        width: 84%;
        margin: 5px auto auto auto;
        border-top: $product-border;
        display: flex;
        justify-content: space-around;
        align-items: center;
        i {
          display: block;
          padding-top: 15px;
          padding-bottom: 5px;
        }
      }
    }
  }
}

footer {
  background-color: #131313;
  color: #fff;
  padding: 14px 10px;
  .column {
    margin-top: 20px;
    width: 280px;
    display: inline-block;
    vertical-align: top;
    a  {
      color:#fff;
      font-weight: 500;
    }
    img {
      display: inline-block;
      height: 20px;
      vertical-align: middle;
      background-color: #fff;
    }
  }
  #owner-panel {
    margin-top: 20px;
    input, button {
      display: block;
    }
  }
  #copyright {
    font-size: small;
    display: block;
  }
}

i.switch-theme {
  display: none;
}

#cart-container {
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  .cart {
    background: red;
    border-radius: 6px;
    padding: 10px;
    width: 80%;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    .cart-body {
      table {
        min-height: 10px;
        border-collapse: collapse;
      }
      td {
        padding: 4px;
        font-size: 18px;
        border: 1px solid black;
      }
    }
    .cart-footer {
      display: flex;
      justify-content: space-between;
    }
    i {
      position: absolute;
      top: 10px;
      right: 10px;
    }
  }
}

/* Стилі для "Наш офіс" */

#section-our-office p {
  font-size: 17px;
}

/* Стилі для "Вакансії" */

#section-vacancies p {
  font-size: 17px;
}

/* Стилі для "Клієнти" */

#section-clients {
  display: grid;
}