@media (min-width: 720px) {
  input[type="text"], input[type="password"], .select {
    width: 49%;
    display: inline-block;
  }

  header img {
    display: none;
  }

  #header-div {
    display: block;
    height: 100%;
    grid-column: 2/3;
  }

  #header-div nav {
    display: inline;
  }

  #header-div button {
    margin: 0 10px 0 6px;
  }

  header nav a {
    margin-left: -5px;
    display: inline-block;
    padding:0 20px;
    border-top: none;
    border-left: 1px solid white;
    height: 100%;
    line-height: 75px;
    vertical-align: middle;
  }

  header nav a:last-child {
    border-bottom: none;
    border-right: 1px solid white;
  }

  header nav a:first-child {
    margin-left: 0;
  }

  #section-specilly-text {
    padding: 10px 22px 0 22px;
  }

  #section-constructor img {
    position: relative;
    left: 50%;
    transform: translate(-50%)
  }

  #section-our-products {
    grid-template-columns: repeat(2, minmax(300px, 466px));
    padding-left: 8px;
    padding-right: 8px;
  }

  #section-our-products h2 {
    grid-column: 1/3;
  }

  #section-our-products div {
    text-align: center
  }

  #section-question .input[type="text"] {
    display: inline-block;
    width: 65%;
    margin-right: 5%;
  }

  #auto {
    max-width: 100%;
  }

  #auto input {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  #auto .input {
    width: 35%;
    display: inline-block;
  }

  #auto .input[type="text"], #auto .input[type="password"] {
    margin-right: 5%;
  }
}

@media (min-width: 950px) {
  input[type="text"], input[type="password"], .select {
    width: 100%;
  }

  #section-constructor {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
  }

  #section-constructor-form {
        max-width: 420px;
  }

  #section-constructor h2 {
    grid-column: 1/3;
  }

  #section-our-products {
    display: grid;
    grid-gap: 13px;
    grid-template-rows: auto;
    grid-template-columns: repeat(3, minmax(300px, 466px));
  }

  #section-our-products h2 {
    grid-column: 1/4;
  }
}

@media (min-width: 1100px) {
  main {
    border-left: 1px solid black;
    border-right: 1px solid black;

  }
}

/* Стилі для "Наш офіс" */

/* Стилі для "Вакансії" */

/* Стилі для "Клієнти" */

@media (min-width: 500px) {
  #section-clients {
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-gap: 13px;
  }

  #section-clients h2 {
    grid-column: 1/3;
  }
}