@media (min-width: 390px) {
  main {
    #product-list {
      display: grid;  
      grid-template-columns: repeat(2, 50%);
      .product {
        border-right: $product-border;
      }
    }
  }
}

@media (min-width: 700px) {
  main {
    #product-list {
      grid-template-columns: repeat(3, 33.33%);
    }
  }
}

@media (min-width: 720px) {
  header {
    width: 100%;
    background-color: black;
    position: sticky;
    top: 0;
    z-index: 1;
    grid-template-columns: auto auto 1fr auto auto auto auto;
    >a {
      color: white;
      display: block;
    }
    a.name {
      margin-right: 12px;
      font-size: 17px;
    }
    input {
      font-weight: 600;
      padding: 8px 3%;
      margin: 0;
      border: none;
      border-radius: 5px;
    }
    a.login {
      display: flex;
      align-items: center;
      padding: 0 7px;
      color: skyblue;
      i {
        padding-right: 4px;
      }
    }
  }

  body>.container {
    display: grid;
    grid-template-columns: minmax(200px, 20%) auto;
  }

  aside {
    display: block;
    a {
      color:black
    }
  }
}

@media (min-width: 1030px) {
  header {
    grid-template-columns: auto auto 1fr auto auto auto auto;
    img.menu {
      display: none;
    }
    i.switch-theme {
      color: yellow;
      padding: 10px;
      float: left;
      display: block;
    }
    nav {
      margin: 0 5px;
      display: grid;
      grid-auto-flow: column;
      grid-gap: 14px;
      a {
        display: block;
        color: white;
      }
    }
  }
  main {
    #product-list {
      grid-template-columns: repeat(4, 25%);
    } 
  }
}

/* Стилі для "Наш офіс" */

/* Стилі для "Вакансії" */

/* Стилі для "Клієнти" */

@media (min-width: 500px) {
  #section-clients {
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-gap: 13px;
  }

  #section-clients h2 {
    grid-column: 1/3;
  }
}